@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
html, body{
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font: 100 1em Lato,sans-serif;
  background-color: #121212;
  color: #fff;
}

#main {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#nav {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  gap: 4rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

h1 {
  font: 100 10rem Montserrat,sans-serif;
  margin: 0;
  padding: 0;
  transition: font 1s ease;
}

h2 {
  font-size: 2rem
}
a:link,a:visited,a:hover,a:active,a,p {
  text-align: center;
  font-family: inherit;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.link {
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: bottom left;
  transition: background-size 0.2s ease-in-out;
}
.link:hover {
  background-size: 100% 3px;
}
#content {
  display: flex;
  align-items: bottom;
  justify-content:  center;
}
#copy-stuff {
  position: absolute; 
  bottom: 10px;
  left: 10px;
  opacity: 0%;
  transition: all 0.5s ease-in-out;
}
#aboutme-content,
#projects-content,
#contact-content {
  flex: 1;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: absolute;
  line-height: 1rem;
}
#projects-content {
  line-height: 3rem;
}
.nav-item:hover {
  color: #aaa;
}
.red {
  color: #ff0000; 
}
.green {
  color: #00ff00; 
}
.orange {
  color: #ffa500; 
}
#age-h,#age-y {
  font-weight: bold;
}
.content-r {
  text-align: right;
  float: right;
}
.content-l {
  text-align: left;
  float: left;
}
.aboutme-content-items {
  width: 24rem;
  padding: 2rem;
} 
span {
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  :root {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  :root {
    font-size: 10px;
  }
}

