@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

body {
    font-size: 1.5rem;
    font-family: 'Noto Sans';
    color: white;
    background-color: #36393f;
}

@media only screen and (max-width: 768px) {
	:root {
	  font-size: 15px;
	}
  }
  
  @media only screen and (max-width: 320px) {
	:root {
	  font-size: 8px;
	}
  }

h1 {
    margin: 0;
}
#main {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-r {
    text-align: right;
    float: right;
}
.content-l {
    font-weight: bold;
    text-align: left;
    float: left;
}
#mods {
    line-height: 2rem;
    display: grid;
    grid-template-columns: max-content;
}